@media (max-width: $mobileWidth) {
  $unitPxVw: 3.6;

  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child){
      margin: vw(8, $unitPxVw) 0 0;
    }
  }

  h1{
    font-size: vw(30, $unitPxVw);
  }

  h2{
    font-size: vw(26, $unitPxVw);
  }

  h3{
    font-size: vw(16, $unitPxVw);
  }

  h4{
    font-size: vw(22, $unitPxVw);
  }

  h5{
    font-size: vw(14, $unitPxVw);
  }

  h6{
    font-size: vw(14, $unitPxVw);
  }

  p {
    font-size: vw(14, $unitPxVw);
    margin-top: vw(8, $unitPxVw);
  }

  ol {
    padding-left: vw(20, $unitPxVw);
    li {
      font-size: vw(20, $unitPxVw);
      padding-left: vw(5, $unitPxVw);
      text-align: left;
    }
  }

  ul {
    margin: 0 0 vw(10, $unitPxVw);
  }

  .section{
    // padding:vw(24, $unitPxVw) 0;
    &:last-child{
      padding-bottom: vw(24, $unitPxVw) 0 0 0;
    }
    &>.wrapper{
      margin: 0;
    }
    .wrapper {
      width: 100%;
      padding: 0;
      .text-padded {
        padding-left: vw(24, $unitPxVw);
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
    .text-wrap {
      margin: vw(24, $unitPxVw) 0 0;
    }
    .col {
      display: flex;
      flex-flow: row wrap;
      flex: 0 0 vw(0, $unitPxVw);
      position: relative;
      align-items: center;
      justify-items: center;
      justify-content: center;
      padding: 0 vw(12, $unitPxVw);
      &.col-wrapper{
        padding: 0;
      }
      @for $i from 0 through 12{
        $w : $i/12;
        &.col-#{$i}{
          flex: 1 0 100%;
          padding: 0;
        }
      }
    }
    
    .btn{
      &-white,
      &-encased,
      &-blue,
      &-black{
        min-height: vw(40, $unitPxVw);
        height: auto;
        border-radius: vw(20, $unitPxVw);
        padding: vw(10, $unitPxVw) vw(16, $unitPxVw) vw(8, $unitPxVw) vw(16, $unitPxVw);
        font-size: vw(14, $unitPxVw);
      }
      &-link {
        padding: vw(8, $unitPxVw) 0 vw(3, $unitPxVw) 0;
        margin-bottom: vw(6, $unitPxVw);
        &-underline{
          &::after {
            bottom: vw(0, $unitPxVw);
            height: vw(2, $unitPxVw);
          }
          &:hover {
            &::after {
                animation:cta-underline-animation .2s both;
                animation-timing-function:cubic-bezier(0.4,0,0.2,1);
                animation-delay:.1s
            }
          }
        }
      }
      &-small{
        height: vw(28, $unitPxVw);
        font-size: vw(12, $unitPxVw);
      }
      &:focus{
        outline: none;
      }
    }
    .btns{
      margin-top: vw(16, $unitPxVw);
      .btn{
        display: inline-flex;
        align-items: center;
        padding-top: vw(8, $unitPxVw);
        &-small {
          margin: 0 vw(4, $unitPxVw);
        }
        &:first-child {
          margin-right: vw(20, $unitPxVw);
        }
      }
    }
    
    input[type=text],
    input[type=tel],
    input[type=number],
    input[type=password],
    input[type=email] {
      font-size: vw(14, $unitPxVw);
      line-height: vw(24, $unitPxVw);
      padding: 0 0 vw(7, $unitPxVw);
      &:-webkit-autofill,
      &:-webkit-autofill {
        box-shadow: 0 0 0 vw(1000, $unitPxVw) #ffffff inset;
        transition: background-color 5000s ease-in-out 0s;
        &:hover,
        &:focus {
          box-shadow: 0 0 0 vw(1000, $unitPxVw) #ffffff inset;
          transition: background-color 5000s ease-in-out 0s;
        }
      }
    }  
    input[type=file]{
      width: vw(271, $unitPxVw);
    }
    select {
      height: vw(48, $unitPxVw);
      padding: vw(14, $unitPxVw) vw(24, $unitPxVw);
      font-size: vw(14, $unitPxVw);
      padding-right: vw(40, $unitPxVw);
    } 
    input[type=checkbox] {
      width: vw(20, $unitPxVw);
      height: vw(20, $unitPxVw);
    }
    textarea {
      border-radius: vw(6, $unitPxVw);
      font-size: vw(14, $unitPxVw);
      padding: vw(12, $unitPxVw) vw(16, $unitPxVw);
      min-height: vw(190, $unitPxVw);
    }
  }
}