@media (max-width: $mobileWidth) {
  $unitPxVw: 3.6;
  .container {
    max-width: vw(312, $unitPxVw);
  }
  h1 {
    font-size: vw(30, $unitPxVw);
  }

  h2 {
    font-size: vw(26, $unitPxVw);
  }

  h3 {
    font-size: vw(16, $unitPxVw);
  }

  h4 {
    font-size: vw(22, $unitPxVw);
  }

  h5 {
    font-size: vw(14, $unitPxVw);
  }

  h6 {
    font-size: vw(14, $unitPxVw);
  }

  .section {
    &-main {
      background-image: url('https://images.samsung.com/is/image/samsung/assets/kz_ru/offer/survey-smartphones-experience/bgmob.png');
      display: block;
      padding-top: vw(56, $unitPxVw);
      min-height: vw(640, $unitPxVw);
    }
    &-bundles {
      &-text {
        margin-bottom: 0;
        margin-top: vw(16, $unitPxVw);
      }
      &-header {
        margin-bottom: vw(16, $unitPxVw);
      }
    }
  }
  .show-desktop {
    display: none !important;
  }
  .show-mobile {
    display: block;
  }
  .sece-wrap {
    margin-top: vw(26, $unitPxVw);
  }
  .survey {
    &-wrapper {
      width: vw(312, $unitPxVw);
      padding: vw(24, $unitPxVw);
    }
    &-question {
      font-size: vw(20, $unitPxVw);
      margin-top: vw(16, $unitPxVw);
    }
    &-questions {
      margin-top: vw(16, $unitPxVw);
    }
    &-next {
      margin-top: vw(24, $unitPxVw);
    }
  }
  .main {
    &-header {
      font-size: vw(24, $unitPxVw);
    }
    &-subheader {
      font-size: vw(18, $unitPxVw);
      max-width: vw(285, $unitPxVw);
    }
  }
  .form {
    &-subheader {
      font-size: vw(18, $unitPxVw);
    }
    &-form {
      margin-top: vw(24, $unitPxVw);
      width: vw(312, $unitPxVw);
      padding: vw(24, $unitPxVw);
      &-input {
        width: 100%;
      }
      &-rules {
        font-size: vw(14, $unitPxVw);
      }
    }
  }
  .option {
    font-size: vw(18, $unitPxVw);
  }
  .option2 {
    margin-left: vw(30, $unitPxVw);
  }
  input[type="checkbox"] + .option:before {
    top: 3px;
    width: vw(24, $unitPxVw);
    height: vw(24, $unitPxVw);
  }
  input[type="radio"] + .option:before {
    top: 3px;
    width: vw(24, $unitPxVw);
    height: vw(24, $unitPxVw);
  }
  .q18,
  .q19,
  .q20 {
      width: vw(150, $unitPxVw);
      font-size: vw(18, $unitPxVw);
  }
}
