@media (max-width: $mobileWidth) {
  $unitPxVw: 3.6;
  .section {
    &-main {
      background-image: url('https://images.samsung.com/is/image/samsung/assets/kz_ru/offer/survey-smartphones-experience/bgmob.png');
      display: block;
      padding-top: vw(56, $unitPxVw);
      min-height: vw(640, $unitPxVw);
    }
  }

  .survey {
    &-wrapper {
      width: vw(312, $unitPxVw);
      padding: vw(24, $unitPxVw);
    }
    &-question {
      font-size: vw(20, $unitPxVw);
      margin-top: vw(16, $unitPxVw);
    }
    &-questions {
      margin-top: vw(16, $unitPxVw);
    }
    &-next {
      margin-top: vw(24, $unitPxVw);
    }
  }

  .main {
    &-header {
      font-size: vw(26, $unitPxVw);
    }
    &-subheader {
      font-size: vw(18, $unitPxVw);
      max-width: vw(285, $unitPxVw);
    }
  }
  .label-name {
    width: 100%;
    margin-top: vw(24, $unitPxVw);
  }
  .form {
    &-subheader {
      font-size: vw(18, $unitPxVw);
    }
    width: vw(312, $unitPxVw);
    padding: vw(24, $unitPxVw);
    &-input {
      width: 100%;
    }
    &-inputs {
      flex-direction: column;
      width: 100%;
    }
    &-rules {
      font-size: vw(14, $unitPxVw);
    }
    &-checkbox-text {
      font-size: vw(14, $unitPxVw);
    }
    &:focus + .form-name {
      font-size: vw(14, $unitPxVw);
    }
    &-name {
      font-size: vw(18, $unitPxVw);
    }
  }
  .option {
    font-size: vw(18, $unitPxVw);
  }
  .option2 {
    margin-left: vw(30, $unitPxVw);
  }
  input[type="checkbox"] + .option:before {
    top: 3px;
    width: vw(22, $unitPxVw);
    height: vw(22, $unitPxVw);
  }
  input[type="radio"] + .option:before {
    top: 3px;
    width: vw(22, $unitPxVw);
    height: vw(22, $unitPxVw);
  }
  .q18,
  .q19,
  .q20 {
      width: vw(145, $unitPxVw);
      font-size: vw(18, $unitPxVw);
  }
}
