$unitPxVw: 3.6;

@media (max-width: $mobileWidth) {

  &{
    font-size: vw(18, $unitPxVw);
  }

  .desktop-only{
    display: none!important;
  }

  .mobile-only{
    display: block!important;
  }

  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child){
      margin: vw(8, $unitPxVw) 0 0;
    }
  }

  h1{
    font-size: vw(30, $unitPxVw);
  }

  h2{
    font-size: vw(26, $unitPxVw);
  }

  h3{
    font-size: vw(16, $unitPxVw);
  }

  h4{
    font-size: vw(22, $unitPxVw);
  }

  h5{
    font-size: vw(14, $unitPxVw);
  }

  h6{
    font-size: vw(14, $unitPxVw);
  }

  &.sece-language-kz {
    h2 {
      &.bigger{
        font-size: vw(24, $unitPxVw);
      }

      font-size: vw(19, $unitPxVw);
    }
  }

  .prenote{
    font-size: vw(12, $unitPxVw);
  }

  p {
    font-size: vw(14, $unitPxVw);
    margin-top: vw(8, $unitPxVw);
  }

  .video-frame,
  .image-frame{
    margin-top: vw(32, $unitPxVw);
  }

  ol{
    padding-left: vw(20, $unitPxVw);

    li{
      font-size: vw(20, $unitPxVw);
      padding-left: vw(5, $unitPxVw);
      text-align: left;
    }
  }

  ul{
    margin: 0 0 vw(10, $unitPxVw);
  }

  .btn-p6{
    &-white,
    &-encased,
    &-blue,
    &-black{
      min-height: vw(40, $unitPxVw);
      height: auto;
      border-radius: vw(40, $unitPxVw);
      padding: vw(10, $unitPxVw) vw(16, $unitPxVw) vw(8, $unitPxVw) vw(16, $unitPxVw);
      font-size: vw(14, $unitPxVw);
    }

    .trailing-icon {
      width: vw(16, $unitPxVw);
      height: vw(16, $unitPxVw);
      margin: 0 vw(4, $unitPxVw);
    }

    &-text-underline{
      font-size: vw(14, $unitPxVw);
      height: auto;
      padding: vw(8, $unitPxVw) 0 vw(3, $unitPxVw) 0;
      border-bottom: vw(2, $unitPxVw) solid $color_black;
      margin-bottom: vw(6, $unitPxVw);
    }

    &-small{
      height: vw(28, $unitPxVw);
      font-size: vw(12, $unitPxVw);
    }

    &-text{
      font-size: vw(14, $unitPxVw);
      height: auto;
      padding: vw(8, $unitPxVw) 0 vw(3, $unitPxVw) 0;
      margin-bottom: vw(6, $unitPxVw);
    }

    &:focus{
      outline: none;
    }
  }

  .section{
    padding: vw(16, $unitPxVw) 0;

    .col {
      display: flex;
      flex-flow: row wrap;
      flex: 0 0 vw(0, $unitPxVw);
      position: relative;

      align-items: center;
      justify-items: center;
      justify-content: center;
      padding: 0 vw(12, $unitPxVw);

      &.col-wrapper{
        padding: 0;
      }

      @for $i from 0 through 12{

        $w : $i/12;

        &.col-#{$i}{
          flex: 1 0 100%;
          padding: 0;
        }

        &.col-2-5 {
          flex: 0 1 50%;
        }

        &.col-3-75 {
          flex: 1 0 100%;
        }
      }
    }

    .wrapper{
      width: 100%;
      padding: 0;
    }

    &>.wrapper{
      margin: 0;
    }

    .col-even {
      .input-row {
        padding-left: 0;
      }
    }

    .col-odd {
      .input-row {
        padding-right: 0;
      }
    }

    .text-wrap{
      padding: 0 vw(24, $unitPxVw);
    }



    .subline{
      margin-top: vw(32, $unitPxVw);
      margin-bottom: vw(56, $unitPxVw);
      padding-bottom: vw(56, $unitPxVw);

      &:after{
        width: vw(165, $unitPxVw);
        height: vw(2, $unitPxVw);
      }
    }

    .text-model{
      img{
        margin-top: vw(32, $unitPxVw);
        margin-bottom: vw(32, $unitPxVw);
        width: vw(212, $unitPxVw);
      }
      .btn-p6{
        margin-top: vw(32, $unitPxVw);
      }
      h4{
        padding-left: vw(24, $unitPxVw);
        padding-right: vw(24, $unitPxVw);
      }
    }

  }

  .buttons{
    margin: vw(24, $unitPxVw) 0 0 vw(-8, $unitPxVw);

    .btn-p6{
      margin: 0 vw(8, $unitPxVw);
      display: inline-flex;
      align-items: center;
      padding-top: vw(8, $unitPxVw);
    }

    &.btn-p6-small{
      margin: 0 vw(4, $unitPxVw);

      &:not(:last-child) {
        margin-bottom: vw(8, $unitPxVw);
      }
    }

    .btn-p6-black{
      &:first-child{
        margin: 0 vw(8, $unitPxVw) vw(16, $unitPxVw);
      }
    }
  }

  .section{
    padding:vw(24, $unitPxVw) 0;

    .block-rc {
      border-radius: vw(20, $unitPxVw);
      padding: vw(24, $unitPxVw) vw(32, $unitPxVw);
    }

    &:last-child{
      padding-bottom: vw(24, $unitPxVw) 0 0 0;
    }

    .buttons{
      margin-bottom: vw(32, $unitPxVw);
      margin-bottom: 0;
    }

    .wrapper {
      .text-padded {
        padding-left: vw(24, $unitPxVw);
      }

      &:last-child{
        padding-bottom: 0;
      }
    }

    .text-wrap {
      margin: vw(24, $unitPxVw) 0 0;
    }

    .text-feature {
      font-size: vw(14, $unitPxVw);
      margin-top: vw(24, $unitPxVw);
      padding: 0 vw(24, $unitPxVw);

      p{
        font-size: vw(18, $unitPxVw);
        margin-top: vw(8, $unitPxVw);
      }

      .icon {
        width: vw(56, $unitPxVw);
        height: vw(56, $unitPxVw);
      }

      &.text-feature-1 + .background{
        width: vw(146, $unitPxVw);
        height: vw(127, $unitPxVw);
      }

      &.text-feature-2 + .background{
        width: vw(148, $unitPxVw);
        height: vw(138, $unitPxVw);
      }

      &.text-feature-3 + .background{
        width: vw(148, $unitPxVw);
        height: vw(147, $unitPxVw);
      }
    }

    &.section-hero {
      height: vw(640, $unitPxVw);
      padding: vw(130, $unitPxVw) 0;

      .text-wrap{
        text-align: left;
      }

      p{
        font-size: vw(18, $unitPxVw);
        padding-right: vw(80, $unitPxVw);
      }
    }

    &.section-howto{
      .col.col-3{
        flex-basis: 50%;
        margin-top: vw(14, $unitPxVw);
      }
    }

    &.section-about{
      .background{
        height: vw(5714, $unitPxVw);
        width: vw(360, $unitPxVw);
      }
    }

    &.section-form{
      border-radius: vw(16, $unitPxVw);
      margin: vw(32, $unitPxVw) auto;
      padding: vw(32, $unitPxVw) 0 vw(205, $unitPxVw);
      width: vw(312, $unitPxVw);

      .wrapper{
        align-items: flex-start;
      }

      .col-wrapper{
        padding: 0 vw(24, $unitPxVw);
      }

      h2{
        font-size: vw(22, $unitPxVw);
      }

      .text-wrap{
        margin-top: 0;
      }

      .background{
        bottom: 0;
        top: auto;
      };
    }

    &.section-traditions{
      .wrapper-stories{
        padding-top: vw(22, $unitPxVw);
      }

      .story{
        width: 100%;
        padding: vw(12, $unitPxVw);
      }
    }

    &.section-presents{
      .col-3{
        margin-top: vw(8, $unitPxVw);
      }

      h3{
        font-size: vw(22, $unitPxVw);
      }

      .background{
        width: vw(254, $unitPxVw);
        height: vw(244, $unitPxVw);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
    }

    &.section-faq {
      .faq-wrap{
        margin-top: vw(16, $unitPxVw);
      }

      .faq-item {
        padding: vw(8, $unitPxVw) 0;
        text-align: left;

        .plus-minus,
        .arrow {
          width: vw(24, $unitPxVw);
          height: vw(24, $unitPxVw);
          flex: 0 0 vw(24, $unitPxVw);
        }

        .faq-question {
          padding-left: vw(24, $unitPxVw);
          align-items: flex-start;

          .index{
            margin-left: vw(-24, $unitPxVw);
            width: vw(24, $unitPxVw);
          }
        }

        .faq-answer {
          max-height: 999px;
          padding-left: vw(24, $unitPxVw);
          padding-right: vw(24, $unitPxVw);

          p {
            margin-top: 0;
            font-size: vw(14, $unitPxVw);
            padding-top: vw(8, $unitPxVw);
            padding-bottom: vw(8, $unitPxVw);

            word-break: break-word;
          }
        }
      }
    }


    /* FORMS */

    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .text-wrap {
        margin-top: 0;
      }

      .col.col-3,
      .col.col-9{
        .input-row{
          padding-top: 0;
        }
      }
    }

    .note {
      color: $color_gray;
      align-self: flex-end;
    }

    .message-error {
      font-size: vw(10, $unitPxVw);
      margin-top: vw(8, $unitPxVw);

      &:empty{
        margin-top: 0;
      }
    }

    .note {
      font-size: vw(12, $unitPxVw);
    }

    .label {
      font-size: vw(14, $unitPxVw);
      height: vw(22, $unitPxVw);
    }

    .input-row {
      margin-top: vw(16, $unitPxVw);
      padding-top: vw(16, $unitPxVw);

      .note {
        color: #8F8F8F;
        padding-left: vw(16, $unitPxVw);
      }

      &.input-textarea{
        margin-bottom: vw(16, $unitPxVw);
      }
    }

    input[type=text],
    input[type=tel],
    input[type=number],
    input[type=password],
    input[type=email] {

      font-size: vw(14, $unitPxVw);
      line-height: vw(24, $unitPxVw);
      padding: 0 0 vw(7, $unitPxVw);

      &:-webkit-autofill,
      &:-webkit-autofill {
        box-shadow: 0 0 0 vw(1000, $unitPxVw) #ffffff inset;
        transition: background-color 5000s ease-in-out 0s;

        &:hover,
        &:focus {
          box-shadow: 0 0 0 vw(1000, $unitPxVw) #ffffff inset;
          transition: background-color 5000s ease-in-out 0s;
        }
      }

    }

    .input-label{
      p{
        text-align: center;
      }

      b{
        font-size: vw(14, $unitPxVw);
        margin-bottom: vw(8, $unitPxVw);
      }
    }
    .input-select{
      margin-bottom: 0;
    }
    input[type=file]{
      width: vw(271, $unitPxVw);
    }
    select {
      height: vw(48, $unitPxVw);
      padding: vw(14, $unitPxVw) vw(24, $unitPxVw);
      font-size: vw(14, $unitPxVw);
      padding-right: vw(40, $unitPxVw);
    }
    input[type=checkbox] {
      width: vw(20, $unitPxVw);
      height: vw(20, $unitPxVw);
    }

    textarea {
      border-radius: vw(6, $unitPxVw);
      font-size: vw(14, $unitPxVw);
      padding: vw(12, $unitPxVw) vw(16, $unitPxVw);
      min-height: vw(190, $unitPxVw);
    }

    .input-tel,
    .input-password,
    .input-email,
    .input-text {
      label {
        padding-top: vw(22, $unitPxVw);
      }

      .label {
        top: vw(22, $unitPxVw);
      }

      input {
        &:not(:placeholder-shown),
        &:focus {
          & + .label {
            font-size: vw(14, $unitPxVw);
          }
        }

        &:-webkit-autofill {
          & + .label {
            font-size: vw(14, $unitPxVw);
          }
        }
      }
    }

    .input-selector,
    .input-number {
      label {
        margin-top: vw(16, $unitPxVw);;
        font-size: vw(14, $unitPxVw);
        min-height: vw(22, $unitPxVw);
      }
    }

    .input-checkbox {
      padding-top: vw(8, $unitPxVw);
      margin-top: 0;

      label {
        margin-left: vw(30, $unitPxVw);
        font-size: vw(14, $unitPxVw);
        line-height: 1.33;
        display: block;

        a {
          text-decoration: underline;
        }
      }
    }

    .input-selector {
      .item {
        border-radius: vw(6, $unitPxVw);
        width: vw(138, $unitPxVw);
        height: vw(50, $unitPxVw);
        margin-top: vw(8, $unitPxVw);
        font-size: vw(14, $unitPxVw);

        &:hover,
        &.is_selected {
          border: vw(2, $unitPxVw) solid $color_lblue;
        }
      }
    }

    /* FORMS END */

  }

  /* POPUP */

  .popup-wrap {

    .popup{
      border-radius: 0;
      max-width: 100%;
      width: 100%;
      height: 100%;
      background-color: #FFFFFF;
      text-align: center;
      position: relative;
      z-index: 2;
      overflow: hidden;
      padding: vw(24, $unitPxVw);
    }

    .icon-success{
      width: vw(48, $unitPxVw);
      height: vw(48, $unitPxVw);
      margin: 0;
    }

    .popup-title{
      padding: 0;
      font-size: vw(22, $unitPxVw);
    }

    .popup-close{
      width: vw(24, $unitPxVw);
      height: vw(24, $unitPxVw);
      top: vw(24, $unitPxVw);
      right: vw(24, $unitPxVw);
    }

    .popup-content {
      max-width: 100%;
      width: 100%;
      height: 100%;
      z-index: 2;
      text-align: center;
      position: relative;
      font-size: vw(18, $unitPxVw);
      padding-top: vw(60, $unitPxVw);

      .popup-close {
        cursor: pointer;
        position: absolute;
        top: vw(27, $unitPxVw);
        right: vw(27, $unitPxVw);
      }

      .popup-text {

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        p{
          font-size: vw(16, $unitPxVw);
        }

        .post-content{
          max-height: 100%;
          margin-bottom: vw(16, $unitPxVw);
          padding-right: 0;
        }
      }
    }
  }

  .panel {
    margin-top: vw(32, $unitPxVw);
    width: vw(320, $unitPxVw);

    .panel-head{
      padding: vw(26, $unitPxVw);
    }

    .panel-body{
      padding: vw(48, $unitPxVw) vw(24, $unitPxVw);
    }
  }



}