$mobileWidth: 768px;
$unitPxVw: 14.4;

$font_family_normal: "SamsungOne", arial, sans-serif;
$font_family_header: "SamsungSharpSans", "SamsungOne", arial, sans-serif;
$color_black: #000000;
$color_blue: #1121a3;
$color_lblue: #0091FF;
$color_white: #ffffff;
$color_gray: #979797;
$color_red: #FF5457;
$color_lpink: #FEF6F3;

@function vw($valueInPx, $baseWidthUnitInPx: $unitPxVw) {
  @return #{($valueInPx/$baseWidthUnitInPx)}vw;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font_family_header;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

ol {
  padding-left: 1.5em;
  li {
    list-style: decimal;
    list-style-position: outside;
    padding-left: 5px;
    font-size: 22px;
  }
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p {
  margin: 8px 0 0;
  font-size: 18px;
  line-height: 1.2;
  &:first-child {
    margin-top: 0;
  }
  a {
    text-decoration: underline;
  }
}

.section {
  padding: 0;
  position: relative;
  font-size: 18px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  &-invert {
    color: #ffffff;
    background-color: #000000;
    .btn {
      &-encased {
        border-color: #ffffff;
        &:hover {
          color: #000000;
          background-color: #ffffff;
        }
      }
      &-text-underline {
        border-color: #ffffff;
      }
    }
  }

  .btn-blank {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .btn {
    height: 40px;
    border-radius: 20px;
    padding: 11px 24px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    &:focus,
    &:hover {
      transition: background-color 400ms;
    }
    &-black {
      border: 1px solid #000000;
      background-color: #000000;
      color: #ffffff;
      &:hover,
      &:focus{
        background-color: #555555;
        border: 1px solid #555555;
        color: #EEEEEE;
      }
    }
    &-blue {
      border: 1px solid $color_lblue;
      background-color: $color_lblue;
      color: #ffffff;
      &:focus,
      &:hover {
        background-color: #ffffff;
        border-color: #000000;
        color: #000000;
      }
    }
    &-white {
      border: 1px solid #ffffff;
      background-color: #ffffff;
      color: #000000;
      &:hover,
      &:focus{
        background-color: #DDDDDD;
        border: 1px solid #DDDDDD;
        color: #313131;
      }
    }
    &-encased {
      padding: 8px 24px 8px 24px;
      border: 1px solid #000000;
      display: inline-block;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0);
      &:focus,
      &:hover {
        transition: background-color 400ms;
        background-color:rgba(0,0,0,0.05);
        color: #000000;
      }
      &-black {
        border: 1px solid #000;
        color: #000000;
        &:hover {
          background-color: #000000;
          color: #ffffff;
        }
      }
      &-active {
        border: 1px solid #2189FF;
      }
    }

    &-small{
      height: 28px;
      font-size: 12px;
      border: 1px solid #D4D4D4;
      font-weight: normal;
      &.is_selected,
      &:focus,
      &:hover {
        border-color: #2189FF;
      }
    }

    &-link {
      color: #000;
      transition-timing-function: cubic-bezier(0.33,0,0.3,1);
      transition-duration: .2s;
      position: relative;
      &-underline {
        padding: 10px 0 11px 0;
        &::after {
          content: ' ';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 8px;
          height: 2px;
          background-color: currentColor;
        }
        &:hover {
          &::after {
              animation:cta-underline-animation .2s both;
              animation-timing-function:cubic-bezier(0.4,0,0.2,1);
              animation-delay:.1s
          }
        }
      }
    }
  }

  .btns {
    width: 100%;
    margin-top: 24px;
    &-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-center {
      display: flex;
      justify-content: center;
    }
    .btn {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &-small{
        margin: 0 4px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  & > .wrapper {
    max-width: 1404px;
    margin: 0 auto;
  }

  .wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-items: flex-start;
    padding: 0;
    align-items: center;

    &-reverse {
      flex-flow: row-reverse wrap;
    }

    &-center {
      justify-content: center;
    }
    .text-padded {
      padding-left: 64px;
    }
  }

  .col-break {
    flex-basis: 100%;
  }

  .col {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 0px;
    position: relative;

    align-items: center;
    justify-items: center;
    justify-content: flex-start;

    &-wrapper {
      padding: 0;
    }

    @for $i from 0 through 12 {
      $w: $i/12;

      &-#{$i} {
        flex: 0 1 #{$w * 100%};
      }
    }
    &-even {
      .input-row {
        padding-left: 12px;
      }
    }
    &-odd {
      .input-row {
        padding-right: 12px;
      }
    }
  
  }

  .text-wrap {
    margin: 0 12px;
    flex: 1 1 auto;
    margin-top: 32px;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }
}

.none {
  display: none;
  opacity: 0;
}

.section {
  &-main {
    background-image: url('https://images.samsung.com/is/image/samsung/assets/kz_ru/offer/survey-smartphones-experience/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 640px;
  }
  &-survey, &-form {
    padding-bottom: 120px;
  }
}

.header {
  background-image: url("https://images.samsung.com/is/image/samsung/assets/kz_ru/offer/survey-multidevice-experience/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 640px;
  color: #ffffff;
  &-wrapper {
    padding-left: 142px;
    color: #ffffff;
    width: 100%;
  }
  &-header {
    max-width: 684px;
    margin-top: 173px;
  }
  &-subheader {
    font-weight: 400;
    max-width: 684px;
    margin-top: 16px;
    font-family: $font_family_normal;
    line-height: 24px;
  }
  &-linksWrapper {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.survey {
  &-wrapper {
    margin-top: 40px;
    width: 100%;
    padding: 44px 56px;
    border-radius: 16px;
    background-color: #f7f7f7;
  }
  &-question {
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
  }
  &-questions {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    position: relative;
  }
  &-next {
    margin-top: 24px;
  }
  &-textInput {
    border-radius: 6px;
    border: 1px solid black;
    padding: 0 16px;
    font-size: 14px;
    width: 376px;
    height: 30px;
  }
  &-devicesQ {
    margin-top: 40px;
    width: 800px;
    height: 297px;
    padding: 44px 56px;
    border-radius: 16px;
    background-color: #f7f7f7;
    &_question {
      margin-top: 24px;
    }
    &_question2 {
      margin-top: 24px;
      font-size: 18px;
      font-weight: 400;
    }
  }
  &-devices {
    &_blockMain {
      margin-top: 16px;
      width: 800px;
      height: 944px;
      padding: 44px 56px;
      border-radius: 16px;
      background-color: #f7f7f7;
    }
  }
  &-labels {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  &-img {
    width: 100%;
  }
  &-special {
    text-align: center;
    > h4 {
      margin-bottom: 16px;
    }
  }
  &-normal {
    font-weight: 400;
  }
}

.form-control {
  display: flex;
  margin-bottom: 16px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
}

input[type="radio"] {
  appearance: none;
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  left: -999em;
}

input[type="radio"] + .option:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 8px 0 0;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  top: 1px;
}

input[type="radio"]:checked + .option:before {
  content: "";
  background: #2088fc;
  border: 1px solid black;
  border-color: #000;
  box-shadow: inset 0 0 1px 2px white;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  outline: none;
}

input[type="checkbox"] + .option:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  top: 1px;
}

input[type="checkbox"] + .form-checkbox:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
}
input[type="radio"] + .option.error:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 8px 0 0;
  vertical-align: middle;
  border: 1px solid red;
  border-radius: 100%;
}
input[type="checkbox"] + .option.error:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 8px 0 0;
  vertical-align: middle;
  border: 1px solid red;
  border-radius: 100%;
}
input[type="checkbox"] + .form-checkbox.error:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -2px 8px 0 0;
  vertical-align: middle;
  border: 1px solid red;
  border-radius: 100%;
}

input[type="checkbox"]:checked + .option:before {
  content: "";
  background-image: url("https://images.samsung.com/is/image/samsung/assets/kz_ru/offer/survey-multidevice-experience/check.png");
  background-position: center;
  background-size: cover;
  background-origin: initial;
  border: 1px solid black;
}

.none {
  display: none !important;
}

.survey {
  &-input {
    opacity: 0;
    cursor: pointer;
    bottom: 0;
    &:checked ~ .form-checkmark {
      border: 2px solid #2189ff !important;
    }
  }
  &-checkmark {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 144px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
  }
  &-label {
    position: relative;
    width: 144px;
    height: 40px;
    font-size: 14px;
    &:nth-child(1) {
      left: -8px;
    }
    &:nth-child(2) {
      left: 8px;
    }
  }
}

input[type="text"] {
  &:focus {
    border: 1px solid blue !important;
  }
}

#city-selector {
  border-radius: 6px;
  padding: 16px 24px;
}

.thankyou {
  text-align: center;
}

.selectImg {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.option {
  font-size: 18px;
  position: relative;
}

.option2 {
  margin-left: 30px;
  margin-top: 3px;
}

.form {
  padding-top: 44px;
  &-header {
    text-align: center;
  }
  &-subheader {
    font-weight: normal;
    text-align: center;
  }
  &-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column; 
    align-items: baseline;
    background-color: #F7F7F7;
    width: 896px;
    padding: 44px 56px;
    border-radius: 16px;
    &-header {
      text-align: left;
      margin-bottom: 16px;
    }
    &-input {
      border: none;
      border-bottom: 1px solid gray;
      height: 54px;
      background-color: #F7F7F7;
      font-size: 18px;
      width: 384px;
      &:nth-child(1) {
        margin-right: 10px;
      }
      &:focus {
        border-bottom: 2px solid #2189FF;
      }
    }
    &-btn {
      margin-top: 24px;
    }
  }
  &-inputs {
    margin-top: 16px;
  }
  &-checkboxWrapper {
    margin-top: 24px;
  }
  &-checkbox {
    &-text {
      margin-left: 30px;
      margin-top: 1px;
      > a {
        color: #1154CC;
        text-decoration: underline;
      }
    }
  }
}

.incorrect {
  border-bottom: 1px solid red;
}

.q18,
.q19,
.q20 {
  border: none;
  border-bottom: 1px solid gray;
  background-color: #F7F7F7;
  font-size: 18px;
  margin-left: 2px;
  &:focus {
    border-bottom: 2px solid #2189FF;
  }
}

@import "./main_mob";
@import "./media";
